.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.32);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 0.07);
}
.bg-img {
  margin-left: calc(var(--viewport-width) * -10 / 390);
}
.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 325 / 390);
  height: calc(var(--viewport-width) * 450 / 390);
}
.bg-text {
  position: absolute;
  color: #162b75;
  font-weight: 600;
  text-align: center;
  line-height: calc(var(--viewport-width) * 32 / 390);
  font-size: calc(var(--viewport-width) * 25 / 390);
  padding: calc(var(--viewport-width) * 20 / 390);
  top: 15%;
}
.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * 0);
  width: calc(var(--viewport-width) * 216 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
  margin-left: calc(var(--viewport-width) * -10 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.17);
  width: calc(var(--viewport-width) * 0.1);
  height: calc(var(--viewport-width) * 45 / 390);
}
