.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.32);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 0.07);
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 321 / 390);
}

.bg-img {
  margin-left: calc(var(--viewport-width) * -10 / 390);
}

.bg-text {
  position: absolute;
  color: #162b75;
  text-align: center;
  font-weight: 600;
  bottom: calc(var(--viewport-width) * 0.37);
  font-size: calc(var(--viewport-width) * 25 / 390);
  width: calc(var(--viewport-width) * 250 / 390);
  line-height: calc(var(--viewport-width) * 32 / 390);
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.07);
  width: calc(var(--viewport-width) * 216 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.17);
  width: calc(var(--viewport-width) * 0.1);
  height: calc(var(--viewport-width) * 45 / 390);
}
