.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.15);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 25 / 390);
  line-height: calc(var(--viewport-width) * 32 / 390);
  font-weight: 600;

  text-transform: uppercase;
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 1.1);
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.19);
  width: calc(var(--viewport-width) * 198 / 390);
  height: calc(var(--viewport-width) * 56 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.33);
  width: calc(var(--viewport-width) * 35 / 390);
  height: calc(var(--viewport-width) * 35 / 390);
}
