.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.22);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 31 / 390);
  font-family: Inter;
  font-weight: 700;
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 420 / 390);
  bottom: calc(var(--viewport-width) * 0.3);
}

.bg-img {
  margin-left: calc(var(--viewport-width) * -30 / 390);
}

.bg-text {
  position: absolute;
  color: #162b75;
  text-align: center;
  font-weight: 700;
  bottom: calc(var(--viewport-width) * 0.6);
  font-size: calc(var(--viewport-width) * 22 / 390);
  width: calc(var(--viewport-width) * 250 / 390);
  line-height: calc(var(--viewport-width) * 32 / 390);
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * 0);
  width: calc(var(--viewport-width) * 216 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.17);
  width: calc(var(--viewport-width) * 35 / 390);
  height: calc(var(--viewport-width) * 35 / 390);
}

.text-content {
  position: absolute;
  color: #182654;
  top: 66%;
  font-family: Inter;
  /* font-weight: 700; */
  text-align: center;
  line-height: calc(var(--viewport-width) * 34 / 390);
  font-size: calc(var(--viewport-width) * 28 / 390);
}
