.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.32);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 0.07);
  font-family: Inter;
  font-weight: 700;
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 310 / 390);
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.02);
  width: calc(var(--viewport-width) * 207 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
}

.bg-text {
  position: absolute;
  top: 15%;
  color: #162b75;
  font-weight: 600;
  text-align: center;
  line-height: calc(var(--viewport-width) * 24 / 390);
  font-size: calc(var(--viewport-width) * 18 / 390);
  padding-left: calc(var(--viewport-width) * 26 / 390);
  padding-right: calc(var(--viewport-width) * 42 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.23);
  width: calc(var(--viewport-width) * 0.1);
  height: calc(var(--viewport-width) * 45 / 390);
}
