.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.07);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 24 / 390);
  color: #fc3701;
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 343.81 / 390);
  margin-left: calc(var(--viewport-width) * 0.07);
  bottom: calc(var(--viewport-width) * -0.25);
  margin-left: calc(var(--viewport-width) * -0.09);
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.05);
  width: calc(var(--viewport-width) * 216 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
  margin-left: calc(var(--viewport-width) * -0.07);
  margin-left: calc(var(--viewport-width) * 0.09);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.25);
  width: calc(var(--viewport-width) * 0.1);
  height: calc(var(--viewport-width) * 45 / 390);
  margin-left: calc(var(--viewport-width) * -0.07);
  margin-left: calc(var(--viewport-width) * 0.09);
}
