.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 0.07);
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 1.1);
  bottom: calc(var(--viewport-width) * -0.2);
}

.text_content {
  position: absolute;
  font-size: calc(var(--viewport-width) * 16 / 390);
  bottom: calc(var(--viewport-width) * 0.725);
  color: #162b75;
  z-index: 20;
}

.text_code {
  position: absolute;
  font-size: calc(var(--viewport-width) * 20 / 390);
  bottom: calc(var(--viewport-width) * 0.64);
  color: #162b75;
  z-index: 20;
}

.text-content-2 {
  position: absolute;
  font-size: calc(var(--viewport-width) * 10 / 390);
  bottom: calc(var(--viewport-width) * 0.52);
  color: #162b75;
  text-align: center;
  z-index: 20;
}

.btn-continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * 0);
  width: calc(var(--viewport-width) * 219 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.17);
  width: calc(var(--viewport-width) * 0.1);
  height: calc(var(--viewport-width) * 45 / 390);
}
