.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
  bottom: calc(var(--viewport-width) * 0.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 0.67);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 0.07);
  font-family: Inter;
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 1.1);
  margin-left: calc(var(--viewport-width) * -0.09);
  bottom: calc(var(--viewport-width) * -0.2);
}

.text_content {
  position: absolute;
  font-size: calc(var(--viewport-width) * 0.07);
  bottom: calc(var(--viewport-width) * 0.35);
  margin-left: calc(var(--viewport-width) * 0.1);
  font-family: Inter;
  color: #182654;
  z-index: 20;
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.001);
  width: calc(var(--viewport-width) * 216 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
  margin-left: calc(var(--viewport-width) * 0.08);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.17);
  width: calc(var(--viewport-width) * 0.1);
  height: calc(var(--viewport-width) * 45 / 390);
  margin-left: calc(var(--viewport-width) * 0.08);
}
