.globalBg {
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--app-height);
}

.bg_thu_do {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.8);
  margin-top: calc(var(--viewport-height) * 0.1);
  margin-left: calc(var(--viewport-width) * 0.07);
}
.ruong {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.8);
  margin-top: calc(var(--viewport-height) * 0.1);
  margin-left: calc(var(--viewport-width) * 0.13);
}
.bnt_start {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.7);
  margin-top: calc(var(--viewport-height) * 0.07);
  margin-left: calc(var(--viewport-width) * 0.16);
}
.content_text {
  color: #162b75;
  font-size: calc(var(--viewport-height) * 0.02);
  font-weight: 600;
  line-height: 1.4;
  margin-top: calc(var(--viewport-height) * 0.03);
  margin-left: calc(var(--viewport-height) * 0.145);
}
