.globalBg {
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--app-height);
}

.bg_thu_do {
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: calc(var(--viewport-height) * 0.06);
  margin-left: calc(var(--viewport-width) * 0.07);
}
.bnt_start {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.57);
  margin-top: calc(var(--viewport-height) * 0.58);
  margin-left: calc(var(--viewport-width) * 0.23);
}
.content_text {
  color: #fdd8bb;
  font-size: calc(var(--viewport-height) * 0.02);
  font-weight: 600;
  line-height: 1.4;
  margin-top: calc(var(--viewport-height) * 0.02);
  margin-left: calc(var(--viewport-height) * 0.145);
}
