.banner {
  margin-top: calc(var(--viewport-width) * 0.2);
  z-index: 11;
}

.nuoc {
  height: calc(var(--viewport-width) * 0.08);
  width: calc(var(--viewport-width) * 0.08);
}

.gach {
  height: calc(var(--viewport-width) * 0.08);
  width: calc(var(--viewport-width) * 0.18);
}
.cat {
  height: calc(var(--viewport-width) * 0.1);
  width: calc(var(--viewport-width) * 0.18);
}
.thep {
  height: calc(var(--viewport-width) * 0.06);
  width: calc(var(--viewport-width) * 0.18);
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  width: calc(var(--viewport-width) * 0.06);
  height: calc(var(--viewport-width) * 0.06);
  border-radius: 50%;
  background: #162b57;
  color: #fff;
  font-family: Roboto;
  font-size: calc(var(--viewport-width) * 0.04);
  font-style: normal;
  font-weight: 500;
  line-height: calc(var(--viewport-width) * 0.06);
  text-align: center;
}
.content span {
  position: absolute;
  top: 3%;
  left: 26%;
}

.container {
  display: flex;
  position: relative;
}
