.button {
  width: calc(var(--viewport-width) * 0.085);
  height: calc(var(--viewport-width) * 0.085);
  background-size: 100% 100%;
  z-index: 2;
  /* width: calc(var(--viewport-width) * 0.085);
    height: calc(var(--viewport-width) * 0.085); */
  right: calc(var(--viewport-width) * 0.03);
  top: calc(var(--viewport-width) * -0.01);
  position: absolute;
}
