.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.2);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 22 / 390);
  font-family: Inter;
  font-weight: 700;
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 378 / 390);
  bottom: calc(var(--viewport-width) * -0.15);
}

.text-content {
  position: absolute;
  left: calc(var(--viewport-width) * 0.19);
  bottom: calc(var(--viewport-width) * 0.64);
  text-align: center;
  width: calc(var(--viewport-width) * 243 / 390);
  font-size: calc(var(--viewport-width) * 18 / 390);
  line-height: calc(var(--viewport-width) * 24 / 390);
  color: #182654;
  font-weight: 600;
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * 0);
  width: calc(var(--viewport-width) * 216 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.2);
  width: calc(var(--viewport-width) * 35 / 390);
  height: calc(var(--viewport-width) * 35 / 390);
}
