.gbBackground {
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--viewport--);
  height: var(--app-height);
}

.logo_tri_an {
  width: calc(var(--viewport-width) * 0.9);
  margin-top: calc(var(--viewport-width) * 0.16);
  margin-left: calc(var(--viewport-width) * 0.08);
}

.turn {
  color: #162b75;
  font-size: calc(var(--viewport-height) * 0.02);
  font-weight: 600;
  margin-top: calc(var(--viewport-height) * 0.04);
  margin-left: calc(var(--viewport-height) * 0.145);
}

.choi_ngay {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.8);
  margin-left: calc(var(--viewport-width) * 0.12);
  margin-top: calc(var(--viewport-width) * 0.03);
}

.rule {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.6);
  margin-left: calc(var(--viewport-width) * 0.23);
  margin-top: calc(var(--viewport-width) * 0.05);
}

.test {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: calc(var(--viewport-width) * 0.04);
  user-select: none;
  padding-left: calc(var(--viewport-width) * 0.04);
  margin-bottom: 10px;
  z-index: 3;
  font-weight: 700;
  color: #162b75;
  text-decoration: underline;
  margin-top: calc(var(--viewport-width) * 0.35);
  margin-left: calc(var(--viewport-width) * 0.17);
}

.test input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  display: block;
  position: absolute;
  border: 1px solid #f47920;
  border-radius: 100%;
  height: calc(var(--viewport-width) * 0.05);
  width: calc(var(--viewport-width) * 0.05);
  left: calc(var(--viewport-width) * -0.02);
  top: calc(var(--viewport-width) * 0.003);
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
  background-color: #fff;
}

.checkmark::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: calc(var(--viewport-width) * 0.035);
  width: calc(var(--viewport-width) * 0.035);
  left: calc(var(--viewport-width) * 0.0045);
  top: calc(var(--viewport-width) * 0.005);

  margin: auto;
}

input[type='checkbox']:checked ~ .checkmark {
  border: 1px solid #f47920;
}

input[type='checkbox']:checked ~ .checkmark::before {
  background: #f47920;
}

.ball {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_huong_dan {
  inset: 0;
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.4);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.02);
  padding-left: calc(var(--viewport-width) * 0.02);
  padding-right: calc(var(--viewport-width) * 0.02);
  position: absolute;
  top: calc(var(--viewport-width) * 1.22);
  left: calc(var(--viewport-width) * 0.05);
}

.bnt_next {
  color: #f47920;
  text-align: center;
  font-size: calc(var(--viewport-width) * 0.045);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: calc(var(--viewport-height) * 0.02);
}

.choi_ngay_instruct {
  position: absolute;
  z-index: 11;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.8);
  margin-left: calc(var(--viewport-width) * 0.12);
  margin-top: calc(var(--viewport-width) * 0.95);
}

.content {
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.047);
  font-weight: 700;
  text-align: center;
}

.nhiem_vu_instruct {
  position: absolute;
  z-index: 11;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.6);
  margin-left: calc(var(--viewport-width) * 0.23);
  margin-top: calc(var(--viewport-width) * 1.17);
}
.gio_qua_instruct {
  position: absolute;
  z-index: 11;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.6);
  margin-left: calc(var(--viewport-width) * 0.23);
  margin-top: calc(var(--viewport-width) * 1.35);
}
.giai_thuong_instruct {
  position: absolute;
  z-index: 11;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.6);
  margin-left: calc(var(--viewport-width) * 0.23);
  margin-top: calc(var(--viewport-width) * 1.52);
}
.modal_huong_dan_giai_thuong {
  inset: 0;
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.4);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.02);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.04);
  position: absolute;
  top: calc(var(--viewport-width) * 1.07);
  left: calc(var(--viewport-width) * 0.05);
}
.modal_huong_dan_nhiem_vu {
  inset: 0;
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.4);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.05);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.04);
  position: absolute;
  top: calc(var(--viewport-width) * 1.36);
  left: calc(var(--viewport-width) * 0.05);
}

.modal_huong_dan_gio_qua {
  inset: 0;
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.35);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.05);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.04);
  position: absolute;
  top: calc(var(--viewport-width) * 0.9);
  left: calc(var(--viewport-width) * 0.06);
}
.bg_nhan_thuong {
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--viewport-width) * 1);
  z-index: 11;
  position: absolute;
  top: calc(var(--viewport-width) * 0.7);
  left: calc(var(--viewport-width) * 0.07);
}
.nhan_thuong {
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--viewport-width) * 0.8);
  z-index: 11;
  position: absolute;
  top: calc(var(--viewport-width) * 0.55);
  left: calc(var(--viewport-width) * 0.15);
}
.number_one {
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--viewport-width) * 0.5);
  z-index: 11;
  position: absolute;
  top: calc(var(--viewport-width) * 0.89);
  left: calc(var(--viewport-width) * 0.26);
}
.cong_luot {
  z-index: 11;
  position: absolute;
  top: calc(var(--viewport-width) * 1.28);
  left: calc(var(--viewport-width) * 0.35);
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.08);
  font-weight: 700;
}
.bnt_choi_ngay {
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--viewport-width) * 0.7);
  z-index: 11;
  position: absolute;
  top: calc(var(--viewport-width) * 1.47);
  left: calc(var(--viewport-width) * 0.17);
}
