.gbBackground {
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--viewport--);
  height: var(--app-height);
}

.logo_tri_an {
  width: calc(var(--viewport-width) * 0.9);
  margin-top: calc(var(--viewport-width) * 0.16);
  margin-left: calc(var(--viewport-width) * 0.08);
}
.cuoc_ky {
  width: calc(var(--viewport-width) * 0.7);
  margin-top: calc(var(--viewport-width) * 0.2);
  margin-left: calc(var(--viewport-width) * 0.15);
}
.may_bay {
  width: calc(var(--viewport-width) * 0.7);
  margin-top: calc(var(--viewport-width) * 0.07);
  margin-left: calc(var(--viewport-width) * 0.15);
}
.ngoi_sao {
  width: calc(var(--viewport-width) * 0.16);
  margin-top: calc(var(--viewport-width) * 0.06);
  margin-left: calc(var(--viewport-width) * 0.45);
}
.bank {
  width: calc(var(--viewport-width) * 0.7);
  margin-top: calc(var(--viewport-width) * 0.05);
  margin-left: calc(var(--viewport-width) * 0.15);
}
.turn {
  color: #162b75;
  font-size: calc(var(--viewport-height) * 0.02);
  font-weight: 600;
  margin-top: calc(var(--viewport-height) * 0.04);
  margin-left: calc(var(--viewport-height) * 0.145);
}

.choi_ngay {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.4);
  margin-left: calc(var(--viewport-width) * 0.26);
  margin-top: calc(var(--viewport-width) * 0.12);
}

.rule {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.6);
  margin-left: calc(var(--viewport-width) * 0.23);
  margin-top: calc(var(--viewport-width) * 0.05);
}
.ball {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_huong_dan {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.02);
  padding-left: calc(var(--viewport-width) * 0.02);
  padding-right: calc(var(--viewport-width) * 0.02);
  position: absolute;
  top: calc(var(--viewport-width) * 0.45);
  left: calc(var(--viewport-width) * 0.055);
}

.bnt_next {
  color: #f47920;
  text-align: center;
  font-size: calc(var(--viewport-width) * 0.045);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: calc(var(--viewport-width) * 0.01);
  padding-bottom: calc(var(--viewport-width) * 0.09);
}

.choi_ngay_instruct {
  position: absolute;
  z-index: 11;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.8);
  margin-left: calc(var(--viewport-width) * 0.12);
  margin-top: calc(var(--viewport-width) * 0.95);
}

.content {
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.047);
  font-weight: 700;
  text-align: center;
}

.nhiem_vu_instruct {
  position: absolute;
  z-index: 11;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.6);
  margin-left: calc(var(--viewport-width) * 0.23);
  margin-top: calc(var(--viewport-width) * 1.17);
}
.gio_qua_instruct {
  position: absolute;
  z-index: 11;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.6);
  margin-left: calc(var(--viewport-width) * 0.23);
  margin-top: calc(var(--viewport-width) * 1.35);
}
.giai_thuong_instruct {
  position: absolute;
  z-index: 11;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.6);
  margin-left: calc(var(--viewport-width) * 0.23);
  margin-top: calc(var(--viewport-width) * 1.52);
}
.modal_huong_dan_giai_thuong {
  inset: 0;
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.4);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.02);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.04);
  position: absolute;
  top: calc(var(--viewport-width) * 1.07);
  left: calc(var(--viewport-width) * 0.05);
}
.modal_huong_dan_nhiem_vu {
  inset: 0;
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.4);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.05);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.04);
  position: absolute;
  top: calc(var(--viewport-width) * 1.36);
  left: calc(var(--viewport-width) * 0.05);
}

.modal_huong_dan_gio_qua {
  inset: 0;
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.35);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.05);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.04);
  position: absolute;
  top: calc(var(--viewport-width) * 0.9);
  left: calc(var(--viewport-width) * 0.06);
}
.bg_nhan_thuong {
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--viewport-width) * 1);
  z-index: 11;
  position: absolute;
  top: calc(var(--viewport-width) * 0.7);
  left: calc(var(--viewport-width) * 0.07);
}
.nhan_thuong {
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--viewport-width) * 0.8);
  z-index: 11;
  position: absolute;
  top: calc(var(--viewport-width) * 0.55);
  left: calc(var(--viewport-width) * 0.15);
}
.number_one {
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--viewport-width) * 0.5);
  z-index: 11;
  position: absolute;
  top: calc(var(--viewport-width) * 0.89);
  left: calc(var(--viewport-width) * 0.26);
}
.cong_luot {
  z-index: 11;
  position: absolute;
  top: calc(var(--viewport-width) * 1.28);
  left: calc(var(--viewport-width) * 0.35);
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.08);
  font-weight: 700;
}
.bnt_choi_ngay {
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--viewport-width) * 0.7);
  z-index: 11;
  position: absolute;
  top: calc(var(--viewport-width) * 1.47);
  left: calc(var(--viewport-width) * 0.17);
}
.img_tin {
  width: calc(var(--viewport-width) * 0.3);
  height: calc(var(--viewport-width) * 0.18);
  margin-top: calc(var(--viewport-width) * 0.05);
  margin-left: calc(var(--viewport-width) * 0.26);
  margin-right: calc(var(--viewport-width) * 0.3);
  margin-bottom: calc(var(--viewport-width) * 0.06);
}
.text_tin {
  margin-left: calc(var(--viewport-width) * 0.11);
  margin-right: calc(var(--viewport-width) * 0.11);
  width: calc(var(--viewport-width) * 0.61);
  height: calc(var(--viewport-width) * 0.48);
  text-align: justify;
}
.may_bay_intruction {
  z-index: 11;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.8);
  margin-left: calc(var(--viewport-width) * 0.11);
  margin-top: calc(var(--viewport-width) * 0.37);
}
.modal_huong_dan_maybay {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.4);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.05);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.04);
  position: absolute;
  top: calc(var(--viewport-width) * 0.67);
  left: calc(var(--viewport-width) * 0.05);
}
.btn_next_1 {
  color: #f47920;
  text-align: center;
  font-size: calc(var(--viewport-width) * 0.045);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: calc(var(--viewport-width) * 0.03);
  padding-bottom: calc(var(--viewport-width) * 0.09);
}
.ngoi_sao_intruction {
  z-index: 11;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.163);
  margin-left: calc(var(--viewport-width) * 0.45);
  margin-top: calc(var(--viewport-width) * 0.66);
}
.modal_huong_dan_tha_sao {
  /* inset: 0; */
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.35);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.05);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.04);
  position: absolute;
  top: calc(var(--viewport-width) * 1.03);
  left: calc(var(--viewport-width) * 0.06);
}
.btn_tha_sao {
  z-index: 11;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.4);
  margin-left: calc(var(--viewport-width) * 0.26);
  margin-top: calc(var(--viewport-width) * 1.835);
}
.btn_next_2 {
  color: #f47920;
  text-align: center;
  font-size: calc(var(--viewport-width) * 0.045);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: calc(var(--viewport-width) * 0.06);
  padding-bottom: calc(var(--viewport-width) * 0.01);
}
.de_toa_nha_intruction {
  z-index: 11;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.5);
  margin-left: calc(var(--viewport-width) * 0.27);
  margin-top: calc(var(--viewport-width) * 1.5);
}
.ngoi_sao_next_3 {
  z-index: 11;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.163);
  margin-left: calc(var(--viewport-width) * 0.33);
  margin-top: calc(var(--viewport-width) * 1.34);
}
.modal_huong_dan_tha_sao_chi_tiet {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.4);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.02);
  padding-left: calc(var(--viewport-width) * 0.06);
  padding-right: calc(var(--viewport-width) * 0.06);
  position: absolute;
  top: calc(var(--viewport-width) * 0.91);
  left: calc(var(--viewport-width) * 0.05);
}
.btn_next_3 {
  color: #f47920;
  text-align: center;
  font-size: calc(var(--viewport-width) * 0.045);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: calc(var(--viewport-width) * 0.06);
  padding-bottom: calc(var(--viewport-width) * 0.01);
}
.icon_congratulations {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.86);
  margin-left: calc(var(--viewport-width) * 0.09);
  margin-top: calc(var(--viewport-width) * 0.5);
  z-index: 12;
  position: absolute;
}
.bg_congratulations {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.8);
  margin-left: calc(var(--viewport-width) * 0.1);
  margin-top: calc(var(--viewport-width) * 0.6);
  z-index: 11;
  position: absolute;
}
.text_congratulations {
  position: absolute;
  z-index: 11;
  margin-left: calc(var(--viewport-width) * 0.1);
  margin-top: calc(var(--viewport-width) * 0.75);
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.047);
  font-weight: 700;
  text-align: center;
  padding-right: calc(var(--viewport-width) * 0.06);
  padding-left: calc(var(--viewport-width) * 0.06);
  width: calc(var(--viewport-width) * 0.8);
}
.bank_congratulations {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.6);
  margin-left: calc(var(--viewport-width) * 0.19);
  margin-top: calc(var(--viewport-width) * 0.8);
  z-index: 11;
  position: absolute;
}
.bnt_congratulations {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.6);
  margin-left: calc(var(--viewport-width) * 0.19);
  margin-top: calc(var(--viewport-width) * 1.49);
  z-index: 11;
  position: absolute;
}
.modal_huong_dan_thanh_cong {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.4);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.02);
  padding-left: calc(var(--viewport-width) * 0.06);
  padding-right: calc(var(--viewport-width) * 0.06);
  position: absolute;
  top: calc(var(--viewport-width) * 1.7);
  left: calc(var(--viewport-width) * 0.05);
}
