.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 0.9);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 0.07);
  font-size: calc(var(--viewport-width) * 22 / 390);
  font-weight: 700;
  line-height: calc(var(--viewport-width) 38 / 390);
  text-align: center;
  color: #fc3701;
  width: calc(var(--viewport-width) 310 / 390);
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 321 / 390);
}

.bg-img {
  margin-left: calc(var(--viewport-width) * -10 / 390);
  width: calc(var(--viewport-width) * 143 / 390);
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.18);
  width: calc(var(--viewport-width) * 216 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.4);
  width: calc(var(--viewport-width) * 0.1);
  height: calc(var(--viewport-width) * 45 / 390);
}
