.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.32);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-family: Inter;
  font-weight: 700;
  color: #fc3701;
  text-align: center;
  line-height: calc(var(--viewport-width) * 32 / 390);
  font-size: calc(var(--viewport-width) * 21 / 390);
}

.bg-img {
  width: calc(var(--viewport-width) * 345 / 390);
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: calc(var(--viewport-width) * -30 / 390);
}

.bg-text {
  position: absolute;
  color: #162b75;
  font-weight: 600;
  text-align: center;
  top: 28%;
  width: calc(var(--viewport-width) * 209 / 390);
  line-height: calc(var(--viewport-width) * 24 / 390);
  font-size: calc(var(--viewport-width) * 18 / 390);
  margin-left: calc(var(--viewport-width) * 30 / 390);
}
.btn_timthemluot {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.057);
  width: calc(var(--viewport-width) * 216 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
  margin-left: calc(var(--viewport-width) * 25 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.28);
  width: calc(var(--viewport-width) * 0.1);
  height: calc(var(--viewport-width) * 45 / 390);
  margin-left: calc(var(--viewport-width) * 25 / 390);
}
