.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.2);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 22 / 390);
  font-family: Inter;
  font-weight: 700;
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 378 / 390);
}

.bg-img {
  margin-right: calc(var(--viewport-width) * -45 / 390);
}

.vat-lieu {
  position: absolute;
  text-align: center;
  bottom: calc(var(--viewport-width) * 0.51);
  font-size: calc(var(--viewport-width) * 25 / 390);
  color: #162b75;
  font-weight: 600;
}

.icon-vat-lieu {
  position: absolute;
  bottom: calc(var(--viewport-width) * 0.2);
  width: calc(var(--viewport-width) * 200 / 390);
  height: calc(var(--viewport-width) * 100 / 390);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-vat-lieu-img {
  max-width: 100%;
  max-height: 100%;
}

.vat-lieu-con-thieu {
  position: absolute;
  bottom: calc(var(--viewport-width) * 0.08);
  color: #162b75;
  font-size: calc(var(--viewport-width) * 16 / 390);
  font-weight: 500;
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.099);
  width: calc(var(--viewport-width) * 216 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.3);
  width: calc(var(--viewport-width) * 35 / 390);
  height: calc(var(--viewport-width) * 35 / 390);
}
