.globalBg {
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--app-height);
  position: relative;
}
.logo_vuon_tam {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.9);
  margin-top: calc(var(--viewport-height) * 0.07);
  margin-left: calc(var(--viewport-width) * 0.06);
}
.mini_map {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.96);
  margin-left: calc(var(--viewport-height) * 0.02);
}
.content_text {
  color: #162b75;
  font-size: calc(var(--viewport-height) * 0.02);
  font-weight: 600;
  line-height: 1.4;
  margin-top: calc(var(--viewport-height) * 0.02);
  margin-left: calc(var(--viewport-height) * 0.148);
}
.ball {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_bank {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.5);
  margin-top: calc(var(--viewport-height) * 0.1);
  margin-left: calc(var(--viewport-width) * 0.46);
}
.modal_huong_dan {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.04);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.03);
  position: absolute;
  top: calc(var(--viewport-width) * 0.86);
  left: calc(var(--viewport-width) * 0.05);
  background: linear-gradient(173.16deg, #ffffff 5.35%, #dbe1e8 101.95%, #e7f0fb 101.95%);
}
.content {
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.05);
  font-weight: 600;
  text-align: center;
}
.bnt_next {
  color: #f47920;
  text-align: center;
  font-size: calc(var(--viewport-width) * 0.04);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: calc(var(--viewport-height) * 0.02);
  margin-bottom: calc(var(--viewport-width) * 0.03);
}
.modal_huong_dan_san_bay {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.04);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.03);
  position: absolute;
  top: calc(var(--viewport-width) * 0.65);
  left: calc(var(--viewport-width) * 0.05);
  background: linear-gradient(173.16deg, #ffffff 5.35%, #dbe1e8 101.95%, #e7f0fb 101.95%);
}
.modal_huong_dan_san_bay {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.04);
  padding-left: calc(var(--viewport-width) * 0.04);
  padding-right: calc(var(--viewport-width) * 0.03);
  position: absolute;
  top: calc(var(--viewport-width) * 0.26);
  left: calc(var(--viewport-width) * 0.05);
  background: linear-gradient(173.16deg, #ffffff 5.35%, #dbe1e8 101.95%, #e7f0fb 101.95%);
}
.bg_gio_qua_intro {
  z-index: 11;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}
.bo_suu_tap_intro {
  z-index: 11;
  position: absolute;
  width: calc(var(--viewport-width) * 1);
  bottom: 0;
}
.modal_huong_dan_san_bay{
    z-index: 11;
    width: calc(var(--viewport-width)* 0.9);
    background-color: #FFFFFF;
    border-radius: calc(var(--viewport-width)* 0.06);
    padding-top: calc(var(--viewport-width) * 0.04);
    padding-left: calc(var(--viewport-width) * 0.04);
    padding-right: calc(var(--viewport-width) * 0.03);
    position: absolute;
    top: calc(var(--viewport-width) * 0.65);
    left: calc(var(--viewport-width) * 0.05);
}
.bg_gio_qua_intro{
    z-index: 11;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}
