.globalBg {
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--app-height);
  position: relative;
  z-index: 1;
}
.ban_do {
  width: calc(var(--viewport-width) * 1);
  height: calc(var(--viewport-height) * 0.7);
  margin-top: calc(var(--viewport-height) * 0.15);
  margin-left: calc(var(--viewport-width) * 0.1);
}
