.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.32);
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 0.07);
  color: #fc3701;
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 0.8);
  margin-left: calc(var(--viewport-width) * 0.1);
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * 0);
  width: calc(var(--viewport-width) * 0.6);
  height: calc(var(--viewport-width) * 45 / 390);
  margin-left: calc(var(--viewport-width) * -0.1);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.17);
  width: calc(var(--viewport-width) * 0.1);
  height: calc(var(--viewport-width) * 45 / 390);
  margin-left: calc(var(--viewport-width) * -0.1);
}
