.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
  background-size: 100% 100%;
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 22 / 390);
}

.text_content {
  font-size: calc(var(--viewport-width) * 14 / 390);
  margin-top: calc(var(--viewport-width) * 14 / 390);
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 1.65);
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * 0.06);
  width: calc(var(--viewport-width) * 0.7);
  height: calc(var(--viewport-width) * 45 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.12);
  width: calc(var(--viewport-width) * 0.1);
  height: calc(var(--viewport-width) * 45 / 390);
}
