.globalBg{
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--app-height);
    position: relative;
    z-index: 1;
}
.container_veMayBay{
  display: flex;

}
.veMayBay{
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.2);
    margin-top: calc(var(--viewport-height) * 0.1);
    margin-left: calc(var(--viewport-width) * 0.05);
}
.gr_ruong{
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 1);
    margin-left: calc(var(--viewport-width) * 0.01);
}
.ruong_qua{
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.8);
    margin-left: calc(var(--viewport-width) * 0.1);
}
.content_text{
    color: #162B75;
    font-size: calc(var(--viewport-height) * 0.02);
    font-weight: 600;
    line-height: 1.4;
    margin-top: calc(var(--viewport-height) * 0.2);
    margin-left: calc(var(--viewport-height) * 0.145);
}
.ball{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_huong_dan{
    inset: 0;
    z-index: 11;
    width: calc(var(--viewport-width)* 0.9);
    height: calc(var(--viewport-width)* 0.4);
    background-color: #FFFFFF;
    border-radius: calc(var(--viewport-width)* 0.06);
    padding-top: calc(var(--viewport-width) * 0.1);
    padding-left: calc(var(--viewport-width) * 0.02);
    padding-right: calc(var(--viewport-width) * 0.02);
    position: absolute;
    top: calc(var(--viewport-width) * 1.6);
    left: calc(var(--viewport-width) * 0.05);
}
.bnt_next{
    color: #F47920;
    text-align: center;
    font-size: calc(var(--viewport-width) * 0.06);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: calc(var(--viewport-height)*0.03);
}
.content{
    color: #162B75;
    font-size: calc(var(--viewport-width) * 0.05);
    font-weight: 600;
    text-align: center;
}
.content_map{
    color: #162B75;
    font-size: calc(var(--viewport-width) * 0.05);
    font-weight: 600;
    text-align: center;
}
.bnt_next_game img{
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.67);
    height: calc(var(--viewport-height) * 0.05);
    margin-top: calc(var(--viewport-height) * 0.025);
    margin-left: calc(var(--viewport-width) * 0.1);
}
.ban_do{
    width: calc(var(--viewport-width) * 1);
    height: calc(var(--viewport-height) * 0.7);
    margin-top: calc(var(--viewport-height) * 0.15);
    margin-left: calc(var(--viewport-width) * 0.10);
    z-index: 11;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}
.modal_huong_dan_ban_do{
    z-index: 11;
    width: calc(var(--viewport-width)* 0.9);
    height: calc(var(--viewport-width)* 0.3);
    background-color: #FFFFFF;
    border-radius: calc(var(--viewport-width)* 0.06);
    padding-top: calc(var(--viewport-width) * 0.04);
    padding-left: calc(var(--viewport-width) * 0.02);
    padding-right: calc(var(--viewport-width) * 0.02);
    position: absolute;
    top: calc(var(--viewport-width) * 1.76);
    left: calc(var(--viewport-width) * 0.05);
}
.img_virrus{
    z-index: 10;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.58);
    margin-left: calc(var(--viewport-width) * 0.23);
    margin-top: calc(var(--viewport-width) * 0.13);
}
.img_hp{
    z-index: 10;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.45);
    margin-left: calc(var(--viewport-width) * 0.02);
    margin-top: calc(var(--viewport-width) * 2.018);
}
.text_tri{
    font-family: 'Roboto';
    margin-left: calc(var(--viewport-width) * 0.05);
    margin-right: calc(var(--viewport-width) * 0.05);
    font-size: calc(var(--viewport-width) * 0.054);
    width: calc(var(--viewport-width) * 0.74);
    height: calc(var(--viewport-width) * 0.67);
    text-align: justify;
}
.modal_huong_dan_tri{
    z-index: 11;
    width: calc(var(--viewport-width)* 0.87);
    height: calc(var(--viewport-width)* 1.14);
    background-color: #FFFFFF;
    border-radius: calc(var(--viewport-width)* 0.06);
    padding-top: calc(var(--viewport-width) * 0.01);
    padding-left: calc(var(--viewport-width) * 0.02);
    padding-right: calc(var(--viewport-width) * 0.02);
    position: absolute;
    top: calc(var(--viewport-width) * 0.47);
    left: calc(var(--viewport-width) * 0.07);
}
.img_tri{
    width:calc(var(--viewport-width) * 0.3) ;
    height:calc(var(--viewport-width) * 0.18);
    margin-top: calc(var(--viewport-width) * 0.05);
    margin-left: calc(var(--viewport-width) * 0.26);
    margin-right: calc(var(--viewport-width) * 0.3);
    margin-bottom: calc(var(--viewport-width) * 0.06)
}
.bnt_next_0{
    color: #F47920;
    text-align: center;
    font-size: calc(var(--viewport-width) * 0.0486);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: calc(var(--viewport-height)*0.03);
}
.img_may_bay{
    z-index: 11;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.31);
    margin-left: calc(var(--viewport-width) * 0.325);
    margin-top: calc(var(--viewport-width) * 1.68);
}
.img_arrow_right{
    z-index: 11;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.33);
    margin-left: calc(var(--viewport-width) * 0.55);
    margin-top: calc(var(--viewport-width) * 1.514);
}
.img_arrow_left{
    z-index: 11;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.33);
    margin-left: calc(var(--viewport-width) * 0.134);
    margin-top: calc(var(--viewport-width) * 1.514);
}
.img_hand{
    z-index: 12;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.26);
    margin-left: calc(var(--viewport-width) * 0.446);
    margin-top: calc(var(--viewport-width) * 1.545);
}
.modal_huong_dan_next_1{
    z-index: 11;
    width: calc(var(--viewport-width)* 0.87);
    height: calc(var(--viewport-width)* 0.35);
    background-color: #FFFFFF;
    border-radius: calc(var(--viewport-width)* 0.06);
    padding-top: calc(var(--viewport-width) * 0.05);
    padding-left: calc(var(--viewport-width) * 0.02);
    padding-right: calc(var(--viewport-width) * 0.02);
    position: absolute;
    top: calc(var(--viewport-width) * 1.04);
    left: calc(var(--viewport-width) * 0.07);
}
.bnt_next_1{
    font-family: 'Roboto';
    color: #F47920;
    text-align: center;
    font-size: calc(var(--viewport-width) * 0.0486);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: calc(var(--viewport-height)*0.03);
}
.text_next_1{
    font-family: 'Roboto';
    margin-left: calc(var(--viewport-width) * 0.05);
    margin-right: calc(var(--viewport-width) * 0.05);
    font-size: calc(var(--viewport-width) * 0.0414);
    width: calc(var(--viewport-width) * 0.74);
    height: calc(var(--viewport-width) * 0.1);
    text-align: justify;
}
.text_next_2{
    font-family: 'Roboto';
    margin-left: calc(var(--viewport-width) * 0.03);
    margin-right: calc(var(--viewport-width) * 0.03);
    font-size: calc(var(--viewport-width) * 0.0414);
    width: calc(var(--viewport-width) * 0.775);
    height: calc(var(--viewport-width) * 0.1);
    text-align: center;
}
.modal_huong_dan_next_2{
    z-index: 11;
    width: calc(var(--viewport-width)* 0.87);
    height: calc(var(--viewport-width)* 0.35);
    background-color: #FFFFFF;
    border-radius: calc(var(--viewport-width)* 0.06);
    padding-top: calc(var(--viewport-width) * 0.05);
    padding-left: calc(var(--viewport-width) * 0.02);
    padding-right: calc(var(--viewport-width) * 0.02);
    position: absolute;
    top: calc(var(--viewport-width) * 0.83);
    left: calc(var(--viewport-width) * 0.07);
}
.img_virrus_next_2{
    z-index: 11;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.58);
    margin-left: calc(var(--viewport-width) * 0.23);
    margin-top: calc(var(--viewport-width) * 0.13);
}
.img_virrus_next_3{
    z-index: 11;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.54);
    margin-left: calc(var(--viewport-width) * 0.25);
    margin-top: calc(var(--viewport-width) * 1.26);
}
.modal_huong_dan_next_4_1{
    z-index: 11;
    width: calc(var(--viewport-width)* 0.83);
    height: calc(var(--viewport-width)* 1);
    background-color: #FFFFFF;
    border-radius: calc(var(--viewport-width)* 0.06);
    padding-top: calc(var(--viewport-width) * 0.05);
    padding-left: calc(var(--viewport-width) * 0.02);
    padding-right: calc(var(--viewport-width) * 0.02);
    position: absolute;
    top: calc(var(--viewport-width) * 0.3);
    left: calc(var(--viewport-width) * 0.09);
}   
.modal_huong_dan_next_4_2{
    z-index: 11;
    width: calc(var(--viewport-width)* 0.83);
    height: calc(var(--viewport-width)* 0.5);
    background-color: #FFFFFF;
    border-radius: calc(var(--viewport-width)* 0.06);
    padding-top: calc(var(--viewport-width) * 0.05);
    padding-left: calc(var(--viewport-width) * 0.0);
    padding-right: calc(var(--viewport-width) * 0.0);
    position: absolute;
    top: calc(var(--viewport-width) * 1.454);
    left: calc(var(--viewport-width) * 0.08);
}  
.img_khien{
    z-index: 11;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.7);
    margin-left: calc(var(--viewport-width) * 0.04);
    margin-top: calc(var(--viewport-width) * 0.15);
}
.img_chuc_mung{
    z-index: 12;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.88);
    margin-left: calc(var(--viewport-width) * 0.07);
    margin-top: calc(var(--viewport-width) * 0.18);
}
.text_next_4{
    font-family: 'Roboto';
    margin-left: calc(var(--viewport-width) * 0.03);
    margin-right: calc(var(--viewport-width) * 0.03);
    font-size: calc(var(--viewport-width) * 0.0414);
    width: calc(var(--viewport-width) * 0.775);
    height: calc(var(--viewport-width) * 0.27);
    text-align: center;
}
.text_next_4_1{
    font-family: 'Roboto';
    margin-left: calc(var(--viewport-width) * 0.0);
    margin-right: calc(var(--viewport-width) * 0.0);
    font-size: calc(var(--viewport-width) * 0.067);
    width: calc(var(--viewport-width) * 0.775);
    height: calc(var(--viewport-width) * 0.01);
    text-align: center;
}
.btn_nhan_qua{
    z-index: 12;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.6);
    margin-left: calc(var(--viewport-width) * 0.2);
    margin-top: calc(var(--viewport-width) * 1.23);
}
.img_tri_final{
        z-index: 11;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 1.10);
    /* margin-left: calc(var(--viewport-width) * 0); */
    margin-top: calc(var(--viewport-width) * 0.585);
}
.modal_huong_dan_next_5{
    z-index: 11;
    width: calc(var(--viewport-width)* 0.86);
    height: calc(var(--viewport-width)* 0.35);
    background-color: #FFFFFF;
    border-radius: calc(var(--viewport-width)* 0.06);
    padding-top: calc(var(--viewport-width) * 0.05);
    padding-left: calc(var(--viewport-width) * 0.01);
    padding-right: calc(var(--viewport-width) * 0.01);
    position: absolute;
    top: calc(var(--viewport-width) * 1.51);
    left: calc(var(--viewport-width) * 0.07);
}
.btn_2{
    z-index: 12;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--viewport-width) * 0.507);
    margin-left: calc(var(--viewport-width) * 0.246);
    margin-top: calc(var(--viewport-width) * 1.305);
}
.text_next_5{
    z-index: 11;
    font-family: 'Roboto';
    position: absolute;
    color: #F8D98B;
    margin-left: calc(var(--viewport-width) * 0.15);
    margin-top: calc(var(--viewport-width) * 0.47);
    font-size: calc(var(--viewport-width) * 0.065);
    width: calc(var(--viewport-width) * 0.71);
    height: calc(var(--viewport-width) * 0.01);
    text-align: center;
}