.btnunderstood {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  width: calc(var(--viewport-width) * 0.4);
  height: calc(var(--viewport-width) * 0.14);
  z-index: 999;
}

.bgInstruct {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--viewport-width) * 0.8);
  margin-left: calc(var(--viewport-width) * 0.2);
  margin-top: calc(var(--viewport-width) * 0.4);
}

.headerNumber {
  display: flex;
  position: absolute;
  top: 0;
  left: calc(var(--viewport-width) * 0.76);
  bottom: 0;
}

.headerNumber h2 {
  color: #ffff;
  text-shadow: -1px -1px 0 #ffc400, 1px -1px 0 #ffc400, -1px 1px 0 #ffc400, 1px 1px 0 #ffc400;
  font-size: calc(var(--viewport-width) * 0.05);
  font-weight: 600;
}

.headerNumber img {
  height: calc(var(--viewport-width) * 0.09);
  padding-top: calc(var(--viewport-width) * 0.02);
}

.intruc {
  position: absolute;
  padding-top: calc(var(--viewport-width) * 0.04);
  width: calc(var(--viewport-width) * 0.9);
}

.btnintruc {
  position: absolute;
  bottom: 0;
  left: calc(var(--viewport-width) * 0.25);
  top: calc(var(--viewport-width) * 1.4);
}

.content {
  position: absolute;
  top: 0;
}

.oclockWraper {
  padding-top: calc(var(--viewport-width) * 0.16);
  padding-left: calc(var(--viewport-width) * 0.06);
}

.oclock {
  width: calc(var(--viewport-width) * 0.78);
}

.title {
  display: flex;
  justify-content: center;
  align-items: justify;
  text-align-last: center;
  padding: calc(var(--viewport-width) * 0.03) calc(var(--viewport-width) * 0.1) 0 calc(var(--viewport-width) * 0.1);
}

.title > h3 {
  color: #ffffff;
  font-size: calc(var(--viewport-width) * 0.04);
}

.iconInstructWraper {
  position: absolute;
  top: calc(var(--viewport-width) * 0.7);
  left: calc(var(--viewport-width) * 0.1);
}

.iconInstruct {
  width: calc(var(--viewport-width) * 0.49);
}

.text {
  display: flex;
  justify-content: center;
  align-items: justify;
  text-align-last: center;
  padding: calc(var(--viewport-width) * 0.01) calc(var(--viewport-width) * 0.12) 0 calc(var(--viewport-width) * 0.14);
}

.text > h3 {
  color: #ffffff;
  font-size: calc(var(--viewport-width) * 0.04);
}
.log0_30nam {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.5);
  margin-left: calc(var(--viewport-width) * 0.26);
  margin-top: calc(var(--viewport-height) * 0.12);
}
.content_text {
  color: #162b75;
  font-size: calc(var(--viewport-height) * 0.02);
  font-weight: 600;
  margin-top: calc(var(--viewport-height) * 0.13);
  margin-left: calc(var(--viewport-height) * 0.145);
}
