.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.25);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 21 / 390);
  font-weight: 700;
  font-family: Inter;
  color: #fc3701;
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 345 / 390);
  bottom: calc(var(--viewport-width) * -0.1);
}

.bg-img {
  margin-left: calc(var(--viewport-width) * -30 / 390);
}

.bg-text {
  position: absolute;
  color: #162b75;
  text-align: center;
  font-weight: 600;
  bottom: calc(var(--viewport-width) * 0.41);
  font-size: calc(var(--viewport-width) * 18 / 390);
  width: calc(var(--viewport-width) * 210 / 390);
  line-height: calc(var(--viewport-width) * 24 / 390);
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.045);
  width: calc(var(--viewport-width) * 216 / 390);
  height: calc(var(--viewport-width) * 45 / 390);
}

.btn-close {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.25);
  width: calc(var(--viewport-width) * 35 / 390);
  height: calc(var(--viewport-width) * 35 / 390);
}
