.globalBg {
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--app-height);
}
.logo_tri_an {
  width: calc(var(--viewport-width) * 0.9);
  margin-top: calc(var(--viewport-width) * 0.08);
  margin-left: calc(var(--viewport-width) * 0.08);
}

.logo_30 {
  width: calc(var(--viewport-width) * 0.3);
  z-index: 1;
  margin-top: calc(var(--viewport-width) * 0.09);
  margin-left: calc(var(--viewport-width) * 0.34);
}
.title {
  z-index: 1;
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.043);
  margin-top: calc(var(--viewport-width) * 0.02);
  font-weight: 600;
  font-size: calc(var(--viewport-width) * 0.05);
  margin-top: calc(var(--viewport-width) * 0.9);
  margin-left: calc(var(--viewport-width) * 0.33);
}
.loaddingBar {
  margin-top: calc(var(--viewport-width) * 0.35);
  margin-left: calc(var(--viewport-width) * 0.16);
}
