.container {
  z-index: 1;
  width: calc(var(--viewport-width) * 0.7);
  height: calc(var(--viewport-width) * 0.03);
  background-color: #c1c1c1;
  border-radius: calc(var(--viewport-width) * 0.03);
  overflow-x: hidden;
  margin-top: calc(var(--viewport-width) * -0.34);
}

.progress {
  height: 100%;
  background-color: #df6812;
  border-radius: calc(var(--game-width) * 0.03);
  animation: translate-right-6 ease-in 1.5s infinite none;
  -webkit-animation: translate-right-6 ease-in 1.5s infinite none;
  -moz-animation: translate-right-6 ease-in 1.5s infinite none;
  -o-animation: translate-right-6 ease-in 1.5s infinite none;
}

@keyframes translate-right-6 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(400%);
  }
}
