.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--viewport-width) * 1.5);
  height: calc(var(--viewport-width) * 1.3);
}

.header {
  text-align: center;
  position: absolute;
  bottom: calc(var(--viewport-width) * 1.32);
  color: #f8d98b;
  z-index: 1;
}

.text_title {
  font-size: calc(var(--viewport-width) * 0.07);
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(var(--viewport-width) * 350 / 390);
  bottom: calc(var(--viewport-width) * -0.1);
}

.bg-img {
  margin-left: calc(var(--viewport-width) * 40 / 390);
}

.luot-choi {
  position: absolute;
  bottom: calc(var(--viewport-width) * 0.04);
  width: calc(var(--viewport-width) * 207 / 390);
  height: calc(var(--viewport-width) * 267 / 390);
}

.bg-text {
  position: absolute;
  color: #3e4095;
  text-align: center;
  font-weight: 700;
  bottom: calc(var(--viewport-width) * 0.13);
  font-size: calc(var(--viewport-width) * 30 / 390);
  line-height: calc(var(--viewport-width) * 36 / 390);
}

.btn_continue {
  position: absolute;
  bottom: calc(var(--viewport-width) * -0.05);
  width: calc(var(--viewport-width) * 233 / 390);
  height: calc(var(--viewport-width) * 50 / 390);
}
