.globalBg {
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--app-height);
}

.logo_thoi_dai_so {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.85);
  margin-top: calc(var(--viewport-height) * 0.069);
  margin-left: calc(var(--viewport-width) * 0.089);
}
.bnt_start {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.605);
  margin-top: calc(var(--viewport-height) * 0.61);
  margin-left: calc(var(--viewport-width) * 0.197);
}
.content_text {
  color: #FDD8BB;
  font-family: 'Roboto';
  font-size: calc(var(--viewport-height) * 0.02);
  font-weight: 500;
  line-height: 1.4;
  margin-top: calc(var(--viewport-height) * 0.016);
  margin-left: calc(var(--viewport-height) * 0.15);
}
.content_text_2{
  color: #FDD8BB;
  font-family: 'Roboto';
  font-size: calc(var(--viewport-height) * 0.015);
  font-weight: 400;
  font-style: italic;
  text-decoration-line: underline;
  line-height: 1.4;
  margin-top: calc(var(--viewport-height) * 0.016);
  margin-left: calc(var(--viewport-height) * 0.17); 
}
