.headerBtns {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.headerBtns .shareBtn {
  width: calc(var(--viewport-width) * 0.085);
  height: calc(var(--viewport-width) * 0.085);
  left: calc(var(--viewport-width) * 0.03);
  position: absolute;
}

.header {
  position: absolute;
  top: calc(var(--viewport-width) * 0.05 + var(--inset-top));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  box-sizing: border-box;
}

.headerWrapper {
  width: var(--viewport-width);
  padding-left: calc(var(--viewport-height) * 0.015);
  padding-right: calc(var(--viewport-height) * 0.015);
}

.btnBack {
  width: calc(var(--viewport-width) * 0.085);
  height: calc(var(--viewport-width) * 0.085);
  left: calc(var(--viewport-width) * 0.03);
  position: absolute;
}

.content {
  position: absolute;
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.05);
  left: calc(var(--viewport-width) * 0.2);
}

.contet_text {
  font-weight: 500;
}

.content_user {
  font-weight: 700;
}
