.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  align-items: center;
  background: #ffe8c3;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  width: var(--viewport-width);
  height: var(--viewport-height);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* width: var(--viewport-width); */
  /* height: var(--viewport-height); */
}
