.noticeModal {
  transition: all 0.5s;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  visibility: hidden;
}

.noticeModal.visible {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

.noticeModal.nonvisibile {
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
}

.container {
  margin-top: calc(var(--viewport-width) * 0.1);
  transition: all 0.5s;
  width: calc(var(--viewport-width) * 0.89);
  height: calc(var(--viewport-width) * 0.79);
  border-radius: calc(var(--viewport-width) * 0.05);
  z-index: 10;
  background-color: #ffffff;
  border: 5px solid #848cee;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.container.visible {
  transform: translateY(0);
}

.container.nonvisible {
  transform: translateY(-120vh);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: calc(var(--viewport-width) * 0.2);
  padding-right: calc(var(--viewport-width) * 0.02);
  padding-left: calc(var(--viewport-width) * 0.05);
  font-weight: bold;
  font-size: calc(var(--viewport-width) * 0.05);
}

.buttonClose {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(var(--viewport-width) * 0.55);
  font-size: calc(var(--viewport-width) * 0.05);
  left: calc(var(--viewport-width) * 0.27);
  width: calc(var(--viewport-width) * 0.3);
  border-radius: calc(var(--viewport-height) * 0.27);
  height: calc(var(--viewport-height) * 0.05);
  border: 1px solid #848cee;
}
