.Wapper {
  padding-top: calc(var(--viewport-width) * 0.265);
  width: var(--app-width);
  margin-left: calc((var(--app-width) - var(--viewport-width)) / 2 * -1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconHeart {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: calc(var(--viewport-width) * 0.39);
  left: calc(var(--viewport-width) * 0.14);
  width: calc(var(--viewport-width) * 0.7);
}

.iconHeart img {
  width: calc(var(--viewport-width) * 0.06);
}

.complete {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(var(--viewport-width) * 0.77);
  top: calc(var(--viewport-width) * 0.46);
}

.completeText {
  font-size: calc(var(--viewport-width) * 0.03);
  font-weight: 500;
  color: #8cd2f5;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: calc(var(--viewport-width) * 0.1);
  width: calc(var(--viewport-width) * 0.15);
}

.completeText1 > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* bike */

.WapperBike {
  position: absolute;
  left: calc(var(--viewport-width) * 0.001);
  display: flex;
  top: calc(var(--viewport-width) * 0.28);
}

.bike > img {
  width: calc(var(--viewport-width) * 0.14);
}

.goBike {
  position: absolute;
  top: calc(var(--viewport-width) * -0.03);
  /* right: calc(var(--viewport-width)*0.05); */
  width: calc(var(--viewport-width) * 0.1);
}

.WapperDoremi {
  display: flex;
  position: absolute;
  top: calc(var(--viewport-width) * 0.34);
  left: calc(var(--viewport-width) * 0.2);
}

.hoa {
  position: absolute;
  top: calc(var(--viewport-width) * 0.027);
  left: calc(var(--viewport-width) * -0.08);
}

.hoa > img {
  width: calc(var(--viewport-width) * 0.04);
}

.doremi > img {
  width: calc(var(--viewport-width) * 0.1);
}

.container {
  position: absolute;
  top: calc(var(--viewport-width) * 0.13);
  height: calc(var(--viewport-width) * 0.01);
  width: calc(var(--viewport-width) * 1);
  background-color: #e0e0de;
  border-radius: calc(var(--viewport-width) * 0.1);
}

.filler {
  height: calc(var(--viewport-width) * 0.01);
  width: calc(var(--viewport-width) * 1);
  background-color: #ff9e0c;
  transition: width 1s ease-in-out;
  border-radius: inherit;
}

.label {
  color: white;
  font-weight: bold;
}
