.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.milestone {
  width: 100px;
  height: 100px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.milestone:hover {
  background-color: #0056b3;
  cursor: pointer;
}
