.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: calc(var(--viewport-width) * 48 / 390);
}

.btn-khanh-thanh {
  width: calc(var(--viewport-width) * 236 / 390);
  height: calc(var(--viewport-width) * 48 / 390);
  background-size: cover;
}

.text {
  margin-top: calc(var(--viewport-width) * 10 / 390);
  font-size: calc(var(--viewport-width) * 16 / 390);
  color: #162b75;
}
