.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}
.title-intro{
  position: absolute;
  width: calc(var(--viewport-width) * 500/ 390);
  height: calc(var(--viewport-width) * 300 / 390);
  transform: translate(4px,-26px);
}
.title-intro .title-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: calc(var(--viewport-width) * 48 / 390);
}

.btn-khanh-thanh {
  width: calc(var(--viewport-width) * 236 / 390);
  height: calc(var(--viewport-width) * 48 / 390);
  background-size: cover;
}

.text {
  margin-top: calc(var(--viewport-width) * 10 / 390);
  font-size: calc(var(--viewport-width) * 16 / 390);
  color: #162b75;
}


.body {
  position: absolute;
  bottom: calc(var(--viewport-width) * 267 / 390);
  width: calc(var(--viewport-width) * 869/ 390);
    height: calc(var(--viewport-width) * 300 / 390);
    transform: translate(30px,10px);
}

.body img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}