.globalBg {
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--app-height);
  position: relative;
  z-index: 1;
}
.container_veMayBay {
  display: flex;
}
.veMayBay {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.2);
  margin-top: calc(var(--viewport-height) * 0.1);
  margin-left: calc(var(--viewport-width) * 0.05);
}
.gr_ruong {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 1);
  margin-left: calc(var(--viewport-width) * 0.01);
}
.ruong_qua {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.8);
  margin-left: calc(var(--viewport-width) * 0.1);
}
.content_text {
  color: #162b75;
  font-size: calc(var(--viewport-height) * 0.02);
  font-weight: 600;
  line-height: 1.4;
  margin-top: calc(var(--viewport-height) * 0.2);
  margin-left: calc(var(--viewport-height) * 0.145);
}
.ball {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_huong_dan {
  inset: 0;
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.4);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.1);
  padding-left: calc(var(--viewport-width) * 0.02);
  padding-right: calc(var(--viewport-width) * 0.02);
  position: absolute;
  top: calc(var(--viewport-width) * 1.6);
  left: calc(var(--viewport-width) * 0.05);
}
.bnt_next {
  color: #f47920;
  text-align: center;
  font-size: calc(var(--viewport-width) * 0.06);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: calc(var(--viewport-height) * 0.03);
}
.content {
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.05);
  font-weight: 600;
  text-align: center;
}
.content_map {
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.05);
  font-weight: 600;
  text-align: center;
}
.bnt_next_game img {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.67);
  height: calc(var(--viewport-height) * 0.05);
  margin-top: calc(var(--viewport-height) * 0.025);
  margin-left: calc(var(--viewport-width) * 0.1);
}
.ban_do {
  width: calc(var(--viewport-width) * 1);
  height: calc(var(--viewport-height) * 0.7);
  margin-top: calc(var(--viewport-height) * 0.15);
  margin-left: calc(var(--viewport-width) * 0.1);
  z-index: 11;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.modal_huong_dan_ban_do {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  height: calc(var(--viewport-width) * 0.3);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.06);
  padding-top: calc(var(--viewport-width) * 0.04);
  padding-left: calc(var(--viewport-width) * 0.02);
  padding-right: calc(var(--viewport-width) * 0.02);
  position: absolute;
  top: calc(var(--viewport-width) * 1.76);
  left: calc(var(--viewport-width) * 0.05);
}
