.globalBg {
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--app-height);
  position: relative;
  z-index: 1;
}
.container_veMayBay {
  display: flex;
}
.veMayBay {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.2);
  margin-top: calc(var(--viewport-height) * 0.1);
  margin-left: calc(var(--viewport-width) * 0.05);
}
.log0_30nam {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.5);
  margin-left: calc(var(--viewport-width) * 0.26);
  margin-top: calc(var(--viewport-height) * 0.12);
}
.ruong_qua {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 3);
  /* margin-left: calc(var(--viewport-width) * 0.01); */
  margin-top: calc(var(--viewport-width) * 0.08);
}
.wow {
  width: calc(var(--viewport-width) * 0.8);
  left: 50%;
  transform: translate(calc(var(--viewport-width) * -0.4), -50px);
}
.content_text {
  color: #162b75;
  font-size: calc(var(--viewport-height) * 0.02);
  font-weight: 600;
  margin-top: calc(var(--viewport-height) * 0.13);
  margin-left: calc(var(--viewport-height) * 0.145);
}
.ball {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: calc(var(--viewport-width) * 1); */
}
.modal_huong_dan {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.05);
  padding-top: calc(var(--viewport-width) * 0.1);
  padding-left: calc(var(--viewport-width) * 0.02);
  padding-right: calc(var(--viewport-width) * 0.02);
  position: absolute;
  top: calc(var(--viewport-width) * 0.7);
  left: calc(var(--viewport-width) * 0.05);
  background: linear-gradient(173.16deg, #FFFFFF 5.35%, #DBE1E8 101.95%, #E7F0FB 101.95%);
}
.bnt_next {
  color: #f47920;
  text-align: center;
  font-size: calc(var(--viewport-width) * 0.05);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: calc(var(--viewport-height) * 0.01);
  margin-bottom: calc(var(--viewport-width) * 0.03);
}
.content {
  color: #162b75;
  font-size: calc(var(--viewport-width) * 0.04);
  font-weight: 600;
  text-align: center;
  margin-top: calc(var(--viewport-width) * 0.04);
}
.icon_tam {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.4);
  margin-top: calc(var(--viewport-width) * -0.03);
  margin-left: calc(var(--viewport-width) * 0.23);
}
.modal_huong_dan_ruong_qua {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.05);
  padding-left: calc(var(--viewport-width) * 0.059);
  padding-right: calc(var(--viewport-width) * 0.054);
  position: absolute;
  top: calc(var(--viewport-width) * 1.7);
  left: calc(var(--viewport-width) * 0.05);
}
.modal_huong_dan_tam {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.05);
  padding-left: calc(var(--viewport-width) * 0.059);
  padding-right: calc(var(--viewport-width) * 0.054);
  position: absolute;
  top: calc(var(--viewport-width) * 1.5);
  left: calc(var(--viewport-width) * 0.05);
  background: linear-gradient(173.16deg, #FFFFFF 5.35%, #DBE1E8 101.95%, #E7F0FB 101.95%);
}
.modal_huong_dan_tam {
  z-index: 11;
  width: calc(var(--viewport-width) * 0.9);
  background-color: #ffffff;
  border-radius: calc(var(--viewport-width) * 0.05);
  padding-left: calc(var(--viewport-width) * 0.059);
  padding-right: calc(var(--viewport-width) * 0.054);
  position: absolute;
  top: calc(var(--viewport-width) * 1.5);
  left: calc(var(--viewport-width) * 0.05);
  background: linear-gradient(173.16deg, #FFFFFF 5.35%, #DBE1E8 101.95%, #E7F0FB 101.95%);
}
.bnt_ruong_qua {
  color: #f47920;
  text-align: center;
  font-size: calc(var(--viewport-width) * 0.04);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: calc(var(--viewport-height) * 0.01);
  margin-bottom: calc(var(--viewport-width) * 0.02);
}
.btn_xem_gio_qua{
  position: absolute;
  z-index: 12;
  top: calc(var(--viewport-height) * 0.68);
  width: calc(var(--viewport-height) * 0.25) ;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn_close{
  position: absolute;
  z-index: 12;
  top: calc(var(--viewport-height) * 0.74);
  width: calc(var(--viewport-height) * 0.04) ;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title_trung_thuong {
  z-index: 11;
  position: absolute;
  margin-top: calc(var(--viewport-height) * 0.39);
  color: #162b75;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: RobotoSHB;
  font-size: calc(var(--viewport-height) * 0.02);
  width: calc(var(--viewport-height) * 0.4) ;
  font-weight: 400;
  line-height: calc(var(--viewport-height) * 0.);
  text-align: center;
}
