/* .gbBackground{
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--viewport--);
    height: var(--app-height);
}
.icon_intro{
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(var(--viewport-width) * 0.05);
    width: calc(var(--viewport-width) * 0.05);
} */

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.HD_CHOI{
    background-image: url(assets/ui1/Huong_dan_choi.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.bnt_start {
    width: calc(var(--viewport-width)* 0.6);
    position: absolute;
    bottom: calc(var(--viewport-width)* 0.1);
    z-index: 3;
    left: calc(var(--viewport-width)* 0.2);
}

.text {
    color: var(--Brand---Purple, #162B75);
    /* Heading/H8: Medium */
    font-family: Roboto;
    font-size: var(--fs-18);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    z-index: 3;
    position: absolute;
    bottom: calc(var(--viewport-width)* 0.06);
}
.vong_quay{
    width: calc(var(--viewport-width)* 1.2);
    position: absolute;
    top: calc(var(--viewport-width)* 0.356);
}
.vong_quay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal_huong_dan {
    z-index: 3;
    width: calc(var(--viewport-width)* 0.8);
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    position: absolute;
    background: linear-gradient(173.16deg, #FFFFFF 5.35%, #DBE1E8 101.95%, #E7F0FB 101.95%);;
}
.modal_huong_dan_vong_quay{
    z-index: 3;
    width: calc(var(--viewport-width)* 0.8);
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px 11px;
    position: absolute;
    top: calc(var(--viewport-width) * 1.51);
    background: linear-gradient(173.16deg, #FFFFFF 5.35%, #DBE1E8 101.95%, #E7F0FB 101.95%);;
}
.content {
    color: #162B75;
    font-size: var(--fs-17);
    font-weight: 700;
    line-height: calc(var(--viewport-width) * 0.07);
    text-align: justify;
    margin-bottom: calc(var(--viewport-width) * 0.03);
}
.content_center{
    color: #162B75;
    font-size: var(--fs-17);
    font-weight: 700;
    line-height: calc(var(--viewport-width) * 0.06);
    text-align: center;
    margin-bottom: calc(var(--viewport-width) * 0.03);
}
.bnt_next {
    color: #F47920;
    text-align: center;
    font-family: Roboto;
    font-size: var(--fs-20);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
    text-transform: uppercase;
}
.ball{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(var(--viewport-width)* -0.011);
    inset: 0;
}
.vat_lieu{
    position: absolute;
    width: calc(var(--viewport-width)* 0.9);
    top: calc(var(--viewport-width) * 0.2);
}
.toa_nha{
    position: absolute;
    width: calc(var(--viewport-width)* 1.1);
    top: calc(var(--viewport-width)* 0.4);
    height:calc(var(--viewport-width)* 1.39);
    transform: translate(18px, 0px);
}
.toa_nha img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn_khanh_thanh{
    position: absolute;
    width: calc(var(--viewport-width) * 236 / 390);
    height: calc(var(--viewport-width) * 48 / 390);
    top: calc(var(--viewport-width)* 1.8);
}
.tam{
    position: absolute;
    width: calc(var(--viewport-width)* 1.2);
    top: calc(var(--viewport-width)* 0.3);
}
.title_tam{
    width: calc(var(--viewport-width)* 128.6 / 390);
    height: calc(var(--viewport-width)* 80 / 390);
    margin: 0 auto;
    margin-bottom: calc(var(--viewport-width)* 10 / 390);

}
.title_tam img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.start{
    width: calc(var(--viewport-width)* 0.3);
    margin: 0 auto;
}