@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.page {
  display: flex;
  width:   var(--viewport-width);
  /* min-height: 100vh; */
  min-height: var(--app-height);
  padding-top: var(--inset-top);
  padding-bottom: var(--inset-bottom);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  z-index: 1;
}

html {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background: #ffe8c3;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  background: #ffe8c3;
  font-family: Roboto;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --inset-top: env(safe-area-inset-top);
  --inset-right: env(safe-area-inset-right);
  --inset-bottom: env(safe-area-inset-bottom);
  --inset-left: env(safe-area-inset-left);
  --app-width: 100%;
  --app-height: 100vh;
  --viewport-height: 100%;

  --fs-10: calc(var(--viewport-width) * 0.0265);
  --fs-11: calc(var(--viewport-width) * 0.028);
  --fs-12: calc(var(--viewport-width) * 0.029); /*OK*/
  --fs-13: calc(var(--viewport-width) * 0.0315); /*OK*/
  --fs-14: calc(var(--viewport-width) * 0.035); /*OK*/
  --fs-15: calc(var(--viewport-width) * 0.037); /*OK*/
  --fs-16: calc(var(--viewport-width) * 0.038); /*OK*/
  --fs-17: calc(var(--viewport-width) * 0.039); /*OK*/
  --fs-18: calc(var(--viewport-width) * 0.046); /*OK*/
  --fs-20: calc(var(--viewport-width) * 0.05); /*OK*/
  --fs-22: calc(var(--viewport-width) * 0.053); /*OK*/
  --fs-24: calc(var(--viewport-width) * 0.056); /*OK*/
  --fs-28: calc(var(--viewport-width) * 0.07); /*OK*/
  --fs-32: calc(var(--viewport-width) * 0.078); /*OK*/

}
