.globalBg {
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--app-height);
  position: relative;
  z-index: 1;
}
.logo_vuon_tam {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.9);
  margin-top: calc(var(--viewport-height) * 0.07);
  margin-left: calc(var(--viewport-width) * 0.06);
}
.mini_map {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.7);
  margin-left: calc(var(--viewport-height) * 0.132);
  margin-top: calc(var(--viewport-height) * 0.07);
}
.icon_san_bay {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.5);
  position: absolute;
  top: calc(var(--viewport-height) * 0.6);
  left: calc(var(--viewport-width) * 0.02);
}
.icon_atm {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.4);
  position: absolute;
  top: calc(var(--viewport-height) * 0.5);
  left: calc(var(--viewport-width) * 0.6);
}
.icon_da_banh {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.5);
  position: absolute;
  top: calc(var(--viewport-height) * 0.38);
  left: calc(var(--viewport-width) * 0.04);
}
.icon_may_bay {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.43);
  position: absolute;
  top: calc(var(--viewport-height) * 0.3);
  left: calc(var(--viewport-width) * 0.54);
}
.icon_mo_qua {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.4);
  position: absolute;
  top: calc(var(--viewport-height) * 0.2);
  left: calc(var(--viewport-width) * 0.06);
}
.content_text {
  color: #162b75;
  font-size: calc(var(--viewport-height) * 0.02);
  font-weight: 600;
  margin-left: calc(var(--viewport-height) * 0.148);
}
.icon_bank {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--viewport-width) * 0.55);
  position: absolute;
  top: calc(var(--viewport-height) * 0.7);
  left: calc(var(--viewport-width) * 0.46);
}
